<footer class="global-footer">
    <div class="contacto">
        <h3>Contacto</h3>
        <ul>
            <li>Av. Salta 123 S.S. Jujuy</li>
            <li>388-12345005646</li>
            <li>grupo1@digitalHouse</li>
            <li>Whatsapp: 388-123456789</li>
        </ul>
    </div>
    <div class="socios">
        <h3>Socios</h3>
        <ul>
            <li>Atención al socio</li>
            <li>Solitud de descuentos</li>
            <li>Trámite médico</li>
            <li>Tarjeta socio</li>
            <li>Legales</li>
        </ul>
    </div>

    <div class="social">
        <div class="logo__footer">
            <img src="/images/logo.png" alt="logo" width="200px">
        </div>
        <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="far fa-envelope"></i></li>
        </ul>
    </div>
    <p>Copyright &copy; 2023 Grupo-1-DH-C8-TM</p>
</footer>
