<header class="header">
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/"><div class="navbar-logo-img"></div></a>
        </div>
        <ul class="navbar-links">
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/product/products">Productos</a></li>
            <li><a href="/user/profile">Perfil</a></li>
            <% if (user) { %>
                <li><a href="/product/formCreateProduct">Crear Producto</a></li>
                <li><a href="/user/logout">Cerrar Sesión</a></li>
            <% } else { %>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Iniciar Sesión</a></li>
            <% } %>
            
        </ul>
        <i class="fas fa-bars"></i>
    </nav>
    <div class="search-form">
        <form class="form-search">
            <input type="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</header>