<header class="header">
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <ul class="navbar-links">
            <li><a href="/productCart">Carrito</a></li>
            <li><a href="/product/formCreateProduct">Ofertas</a></li>
            <li><a href="/product/products">Productos</a></li>
            <li><a href="/user/register">Registrarse</a></li>
            <li><a href="/user/login">Iniciar Sesión</a></li>
        </ul>
        <i class="fas fa-bars"></i>
    </nav>
    <div class="search-form">
        <form class="d-flex">
            <input type="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</header>