<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partial/head') %>
</head>

<body>


    <%- include('partial/header') %>


        <main class="home">


            <section class="enlaces">
                <a href="#" class="">INDUMENTARIA</a>
                <a href="#" class="">FIXTURE</a>
                <a href="#" class="">NOTICIAS</a>
                <a href="#" class="">CONTACTO</a>
              </section>

              <%- include('partial/products') %>
        </main>

        <%- include('partial/footer')%>

</body>

</html>