<!DOCTYPE html>
<html lang="es">

<head>
        <%- include('partial/head') %>

</head>

<body>

    <%- include('partial/header') %>

    <main>
        <h1>PROFILE</h1>
        <h2><%= user.user %></h2>
    </main>

    <%- include('partial/footer') %>

</body>

</html>