<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('partial/head') %>
</head>

<body>
    <%- include('partial/header') %>


        <main>

        </main>

    <%- include('partial/footer')%>

</body>

</html>