:root {
    --primary-red: #D82A1C;
    --secondary-red: #e21a2c;
    --primary-red-hovered: #f78d59;
    --primary-black: #222222;
    --primary-gray: #ece9e9;
    --primary-white: #ffffff;
    --errors-bg-primary: #ff9d9d9a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
    background-color: var(--primary-gray);
}

/* ***************************************************************** */
/* ********************       MOBILE       ************************* */
/* ***************************************************************** */


/* ********************       HEADER       ************************* */

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}


.container-fluid {
    background-color: var(--primary-white);
}

#navbar {
    border-radius: 8px;
}

.navbar-custom {
    background-color: var(--primary-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    background-color: var(--primary-white);
    margin: auto;
}

.navbar-logo-img {
    background-image: url('../images/logo.jpg');
    background-color: var(--primary-white);
    width: 360px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-menu-logo {
    background-color: white;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.navbar-nav {
    text-align: center;
    text-transform: uppercase;
    gap: 10px;
    font-weight: 500;
    background-color: var(--primary-black);
    color: white;
}

.item,
.link {
    background-color: var(--primary-black);
}

.link {
    display: block;
    width: 100%;
}

.item:hover,
.link:hover {
    background-color: var(--secondary-red);
}

.navbar-toggler-icon {
    background-color: white;
}

.search-form {
    padding: 10px;
    position: relative;
    width: 75%;
    margin: auto;
}

.search-form input[type="search"] {
    width: 95%;
    padding: 10px 0;
    border: none;
    margin: 0;
    border-radius: 8px 0 0 8px;
    text-align: center;
    background-color: white;
}

.search-form input[type="search"]:focus {
    border: none;
    outline: none;
}

.search-form button {
    position: absolute;
    width: 50px;
    margin: 0;
    padding: 10px 0;
    border: none;
    background-color: #fff;
    color: var(--primary-orange);
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    right: 10px;
}

.search-form button i {
    background-color: var(--primary-white);
    margin: 0 auto;
}

/* ********************       BODY       ************************* */
.carousel-container {
    height: 350px;
    width: 90%;
    margin: auto;
    position: relative;
}

.effect {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 0.911) 46%, rgba(29, 16, 16, 0.986) 100%);
    height: 270px;
    z-index: 10000;
    position: absolute;
}

.carousel {
    border-radius: 4px;
}


.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.089) 25%, rgba(0, 0, 0, 0.986) 100%);
    z-index: 100;

}


.carousel-item img {
    height: 270px;
}

.bannerGrande-container {
    display: block;
    /* position: relative; */
    height: 150px;
}

.bannerGrande {
    background-image: url('/images/banner.png');
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: absolute; */
    top: 0;
    left: 0;
}

.home .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: solid 3px rgba(0, 0, 0, 0.77);
    border-bottom: solid 3px rgba(0, 0, 0, 0.77);
    font-size: 19px;
    margin: 7px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

main .enlaces {
    padding: 10px;
}

main .enlaces a {
    padding: 5px;
    color: var(--primary-black);
}

main .enlaces a:hover {
    background-color: var(--primary-red);
    color: white;
}


.spamLogin {
    font-size: 30px;
    text-align: center;
    padding: 2%;
    margin-top: 7px;
    margin-bottom: 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-black);
    transition: color 0.3s ease-in-out;
}

.spamLogin:hover {
    color: var(--primary-red);
    /* box-shadow: ; */
}

/* ============== PRODUCTOS DESTACADOS =============================*/

.title-productosDestacados {
    text-align: center;
    background-color: white;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}


.productosDestacados {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin-bottom: 20px;
}

.elemento {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
    max-width: 360px;
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow ease-in-out 0.3s;
}

.elemento a {
    color: var(--primary-white);
    transition: box-shadow ease-in-out 0.2s;
}

.elemento a:hover {
    background-color: var(--secondary-red);
    color: var(--primary-gray);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.elemento:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

div.elemento img {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}

.elemento .caja {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: solid 2px #ebebeb;
    padding: 15px 15px 0 15px;
}

div.nombre {
    font-size: 20px;

}

div.precio {
    font-size: 18px;
}

div.descuento {
    font-size: 16px;
    color: rgb(51, 230, 34);
    margin-bottom: 20px;
}

div.descripcion {
    font-size: 16px;
}

div.comprar {
    background-color: black;

}

/* ----------------------- Product Detail --------------- */

.card-custom {
    width: 320px;
    border: 1px solid var(--primary-black);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border-radius: 8px;
}

/* ----------------------- Form register --------------- */
.form-container {
    height: 100%;
    background-color: var(--primary-white);
    align-items: center;
}

.form {
    display: flex;
    width: 300px;

    margin: auto;
    padding: 2%;
    margin-top: 8%;
    margin-bottom: 8%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.div-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
    flex-grow: 0.5;

}

.div-form input,
.div-form select {
    width: 100%;
}

.form-control {
    width: 200px !important;
}

.div-form input[type="text"],
.div-form input[type="email"],
.div-form input[type="password"],
.div-form input[type="file"] {
    border: none;
    background: rgb(224, 211, 211);
    border-radius: 8px;
}

.file {
    position: relative;
    width: 240px;
}

.label-file {
    opacity: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.load-file {
    padding: 10px 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.load-file:hover {
    background-color: #e0e0e0;
}

.div-form-bt {
    display: flex;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: stretch;
    gap: 15px;

}

.div-form-bt .botonreg,
.div-form-bt .botonres,
.add-to-cart {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-self: stretch;
    color: var(--primary-orange);
    border-radius: 20px;
    margin: 5px 0;
}

/* ============== CART =============================*/

.main-product-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 95%;
}

.products-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.product-card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
    max-width: 90%;
}

.product-card img {
    width: 200px;
}

.btn-remove {
    position: absolute;
    border: none;
    color: red;
    right: 5px;

}

.product-details,
.product-details p,
.product-details h3,
.product-details input {
    background-color: white;
}

.summary {
    margin: 50px 0;
}

.summary button {
    width: 100%;

}

/* ============== Create Product =============================*/

.mainCreateProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titleFormCreateProduct {
    margin: 15px 0;
    text-align: center;

}

.formCreateProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}




/* **************** BTN-PRIMARY ************************* */
.btnPrimary {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: var(--primary-red);
    padding: 2px 8px;
    text-align: center;
}

.btnBack {

    background-color: var(--primary-gray);
    border: var(--secondary-red) solid 1px;
    color: var(--primary-black);
}

.btnInfo a {
    display: block;
    background-color: var(--primary-black);
    color: var(--primary-gray);
}

.btnInfo a:hover {
    background-color: #666464;
}

/* ============== FOOTER =============================*/

.global-footer {
    /* background-color: var(--primary-yellow); */
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer div h3 {
    text-align: center;
}

footer .contacto,
footer .socios,
footer .social {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    text-align: start;
}

footer div ul li {
    list-style: none;
    margin: 8px 0;
}

footer .social .logo__footer {
    border-radius: 8px;
    background-color: var(--primary-white);
    width: 200px;
    padding: 20px 0 20px 10px;
    margin: center;
}

footer .social .logo__footer img {
    width: 180px;
}

footer .social ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    gap: 15px;

}


footer .social ul li {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #333;
    border-radius: 50%;
}

footer .social ul li:hover {
    cursor: pointer;
}


/* ***************************************************************** */
/* ********************       TABLET       ************************* */
/* ***************************************************************** */

@media (min-width: 768px) {

    /* ============== NAVBAR =============================*/
    .navbar-nav {
        max-width: 750px;
        margin: auto;
    }

    .navbar-logo a img {
        width: 250px;
    }


    .carousel-container {
        height: 400px;
        width: 650px;
        margin: auto;
        position: relative;
    }

    .effect {
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(255, 0, 0, 0.911) 46%, rgba(29, 16, 16, 0.986) 100%);
        height: 400px;
        z-index: 10000;
        position: absolute;
    }

    .carousel {
        border-radius: 4px;
    }


    .carousel-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 0, 0, 0.089) 25%, rgba(0, 0, 0, 0.986) 100%);
        z-index: 100;

    }


    .carousel-item img {
        height: 400px;
    }

    /* ============== CARD DETAIL =============================*/

    .card-custom {
        width: 600px;

    }

    .card-body-custom {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }


    /* ============== FORM =============================*/

    .form {
        width: 600px;
        max-width: 700px;
    }

    .div-form {
        width: 65%;
    }

    .form-control {
        width: 350px !important;
    }

    /* ============== FOOTER =============================*/

    .global-footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer p {
        text-align: center;
        width: 100%;
    }

}


/* ***************************************************************** */
/* ********************       Notebooks       ************************* */
/* ***************************************************************** */

@media (min-width: 992px) {

    .header {
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 20px;
        padding: 15px 10px;
        width: 100%;
    }

    .navbar-custom {
        display: block;
        margin-left: 50px;
    }

    .navbar-nav,
    .item,
    .link {
        background-color: var(--primary-white);
        color: var(--primary-black);
        font-weight: 700;
        gap: 5px;
        align-items: center;
    }

    .link {
        width: 130px;
    }

    .link:hover {
        color: var(--primary-white);
    }



    .navbar-logo {
        display: flex;
        align-items: center;
    }

    .navbar-logo-img {
        width: 250px;
    }

    .bannerGrande-container {
        height: 200px;

    }

    .bannerGrande {
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        /* margin: 0 auto; */
    }

}

/* ***************************************************************** */
/* ********************     DESKTOP      ************************* */
/* ***************************************************************** */

@media (min-width: 1024px) {
    body {
        width: 90%;
        margin: auto;
        /* padding: 50px; */
    }

    .search-form {
        width: 75%;
    }


    .carousel-container {
        height: 700px;
        width: 90%;
        margin: auto;
        position: relative;
    }

    .effect {
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(255, 0, 0, 0.911) 46%, rgba(29, 16, 16, 0.986) 100%);
        height: 600px;
        z-index: 10000;
        position: absolute;
    }

    .carousel {
        border-radius: 4px;
    }


    .carousel-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 0, 0, 0.089) 25%, rgba(0, 0, 0, 0.986) 100%);
        z-index: 100;

    }

    .carousel-item img {
        height: 700px;
    }

    .bannerGrande-container {
        height: 400px;

    }

    .bannerGrande {
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        /* margin: 0 auto; */
    }

    .main-product-cart {
        /* margin: auto; */
        max-width: 100%;
    }

    .product-card {
        width: 380px;
    }


    .global-footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .contacto,
    .socios {
        height: 255px;
    }
}

@media (min-width: 1870px) {
    .bannerGrande-container {
        height: 300px;

    }

    .bannerGrande {
        /* height: 300px; */
        background-size: cover;
        background-repeat: no-repeat;
        /* margin: 0 auto; */
    }
}