<section class="enlaces">
    <a href="#" class="">INDUMENTARIA</a>
    <a href="https://www.cariverplate.com.ar/calendario-de-partidos" class="">FIXTURE</a>
    <a href="#" class="">NOTICIAS</a>
    <a href="#" class="">CONTACTO</a>
</section>