<section class="enlaces">
    <a href="https://www.tiendariver.com/" class="" target="_blank">INDUMENTARIA</a>
    <a href="https://www.cariverplate.com.ar/calendario-de-partidos" class="" target="_blank">FIXTURE</a>
    <a href="https://lapaginamillonaria.com/" class="" target="_blank">NOTICIAS</a>
    <!-- <a href="#" class="">CONTACTO</a> -->
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        CONTACTO
    </a>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contacto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Luis Pérez</h4>
                <p>GitHub: <a href="https://github.com/carlos8788" class="text-success" target="_blank">https://github.com/carlos8788</a></p>
                <p>Email: carlos8788@gmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>